<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://sindresorhus.com/GitHub-Notifier" version="1.0.5" defaultlocale="en" xml:lang="en">
	<name xml:lang="en">GitHub Notifier</name>
	<name xml:lang="nb">GitHub varsler</name>
	<description xml:lang="en">Displays your GitHub notifications unread count</description>
	<description xml:lang="nb">Viser antallet på dine uleste varsler på GitHub</description>
	<author href="http://sindresorhus.com" email="sindresorhus@gmail.com">Sindre Sorhus</author>
	<icon src="icon-64.png" />
	<icon src="icon-18.png" />
	<access origin="https://github.com" />
	<feature name="opera:share-cookies" />
</widget>
